html {
    font-family: "Arial";
    color: white;
    line-height: 120%;
}
body {background-color: #24292f;}
a:link, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a {
    text-decoration: none;
}
a:active {
    background-color: 190, 190, 190;
    color: grey;
}
table, th, td, tr {
    border: 1px solid grey;
    border-collapse: collapse;
}
.nav {
    float: left;
    display: inline-table;
}
:link:hover
    {
    outline: solid white;
}
